main>div{
    margin-left: 230px; 
    padding-left: 150px; 
    padding-right: 150px; 
    padding-bottom: 50px; 
    padding-top: 50px; 
}

main>div>h1{
    margin-bottom: 0px;
    font-size: 50px;
}

.main-body-header{
	margin-left: 230px; 
    padding-left: 150px; 
    padding-right: 150px; 
    padding-bottom: 50px; 
    padding-top: 50px; 
}