html,body,main{
	width: 100%;
	height: 100%;
	display: block;
}

body,section,ul,h1,div{
	margin: 0px!important;
	padding: 0px!important;
	
}	

main{
	padding-left:300px;
}

.main-header {
	height: 185px;
	line-height: 185px;
	border-bottom: 5px dashed #333333;
		
	background-image: url("../img/background1.png"); 
	background-repeat: no-repeat; 
	background-size: cover;
	font-style: italic;
}

.main-list{
	font-size:60px!important;
	padding-top: 37.5px!important;
}

.sub-list{
	font-size:40px!important;	
}

.align{
	text-align:center!important;
}	

.hidden {
	display: none!important;
}

.aaaa{
	min-width: 1100px;
	height: 100%;
	width: 100%;
	display: block;
	
}
.aa{	
	height: 100%;
	width: 100%;
	margin-top: 50px!important;
	padding-left: 30px!important;
	padding-right: 30px!important;
}


/*main-header*/
.a {
	border: none!important;
}
.a h1{
	font-size: 25px;
}

/*main-body*/
.margin-top {
	margin-top: 25px!important;
}
/*tab¾È¿¡ ÄÁÅÙÃ÷*/
.nav-tabs li a {
	border: none!important;
}
.nav-tabs>li.active>a {
	background-color: #000000!important;
	color: #ffffff!important;
}
.table>thead>tr>th, .table>tbody>tr>th, 
.table>tfoot>tr>th, .table>thead>tr>td, 
.table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none!important;
    border-bottom: 1px solid #ddd!important;
}
.table>tbody>tr>td>a {
	color: #000000;
}

.table .col-w-chk {
    width: 80px;
}  
.table .col-w-num {
    width: 50px;
}
.table .col-w-ctg {
    width: 100px;
}  
.table .col-w-writerId {
    width: 130px;
}
.table .col-w-date {
    width: 100px;
}  
.table .col-w-hit {
    width: 60px;
}
.table .col-w-manage {
    width: 210px;
}

/*page ÀüÈ¯ ¹öÆ°*/
.page-tab {
	text-align: center;
}
.pagination>li>a {
	color: #000000!important;
}
.focus:focus {
	font-weight: bold;
}