@charset "UTF-8";
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, 
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video, input,select{ 	
margin: 0; 	padding: 0; 	border: 0; 	font-size: 100%; 	font: inherit; 	
vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ 

@font-face
 {

    font-family:"GoodFont"; 
    
    src:url("/bootstrap/fonts/SDChildfundkoreaTTF.ttf");
    
    }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, 
nav, section { 	
display: block; 
} 
body { 	
line-height: 1; 
} 
ol, ul { 	
list-style: none; 
} blockquote, q { 	
quotes: none; 
} 
blockquote:before, blockquote:after, q:before, q:after {
content: ''; 	content: none; 
} table { 	
border-collapse: collapse; 	border-spacing: 0; 
}
/* ----header---------------------------------------------- */
@keyframes hiririk {
	from
	{
	  opacity: 0;
	}
	
	to {
	  opacity: 1;
	  
	}
  }
  
  #hiririk
  {
	animation-name: hiririk;
	animation-duration: 3500ms;
	animation-timing-function: ease;
	animation-direction: normal;
  }
  
  body {
	overflow-x: hidden;
  }
  
  #wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  
  #wrapper2 {
	padding-right: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
	padding-left: 250px;
  }
  
  #sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 0px;
	width: 0;
	height: 100%;
	margin-left: 0px;
	overflow-y: auto;
	background: #000;
  }
  
  #sidebar-wrapper {
	width: 250px;
  }
  
  #page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
  }
  
  html
  {
	height: 100%;
  }
  
 
/* ----basic option---------------------------------------------- */
.hidden{
    display:none;

}
.inline{
	display:inline!important;
}

.inline-flex{
	display:inline-flex!important;	
}

.txt-align-left{
    text-align: left!important;
}
.txt-align-center{
    text-align: center!important;
}
.txt-align-right{
    text-align: right!important;
}


.vertical-align-top{
    vertical-align: top!important;
}
.vertical-align-middle{
    vertical-align: middle!important;
}
.vertical-align-bottom{
    vertical-align: bottom!important;
}

.margin-top{
	margin-top:20px!important;
}

.margin-left{
	margin-left:10px!important;
}

.margin-bottom{
	margin-bottom:40px!important;
}
/* ----body---------------------------------------------- */

#body{
	min-height :2300px;
	min-width:1300px;
	margin-left:250px;
}

/* ---header------------------------------------------------- */
#header{

	height:185px;
	text-align:center;
	font-size:50px;
	font-weight: bold;
	border-bottom: dotted;
}



/* ---search-form---------------------------------------- */
#search-form{
	
	text-align: center;
	height:50px;
	padding:0px;
	margin-top:50px;
	

}
    #search-form form,
    select,input{
        display:inline-block;
        height:26px;
        line-height:26px;
        vertical-align:middle;
        margin:0px;
        padding:0px;
    } 
    #search-form select{
      
    }
    #search-form input{
      
		}

		
/* ---main--------------------------------------------------		 */
.list-main{
	width: 1200px;
	margin-left:auto;
	margin-right:auto;
	height:100%;


}
/* ---coordi-list-area-------------------------------------------------- */

#coordi-list{
	margin-top:30px;
	display:inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:100%;
	

}
	.coordi-list-img{
		width:350px;
		height:400px;


	}
	#coordi-list>div{
		display:inline-block;
		width:350px;
		margin-right:40px;
		/* margin-left:auto; */
		margin-bottom:20px;
	} 
	.coorid-list-p{
		height:500px;
		margin-bottom:10px;
	}


	#coordi-list li{
		display:inline-block;
		padding-left:10px;
		margin-bottom: 15px;
	}
	#coordi-list .li-title{
		width:280px;
	}


/* ---pager----------------------------------------------------------- */
/* .pager{
	text-align:center;
	height:150px;
	vertical-align: middle;
	line-height: 150px;
	display:inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:100%;
} */
.pager{
	margin-bottom:50px;

}
	.pager ul{
		display:inline-flex;
	
	}
	.pager a{
		margin-left:5px;
		margin-right:5px;
	}
	.pager li{
		margin-left:5px;
		margin-right:5px;
	}


