main>div{
    margin-left: 250px; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-bottom: 30px; 
    padding-top: 30px; 
}
main>div>h1{
    margin-bottom: 0px;
    font-size: 50px;
}
main>div>h3{
    margin-bottom: 0px;
    font-size: 15px;
}
.hidden{
    display: none!important;
}
.main-header-div{
        margin-left: 250px; 
        padding-left: 30px; 
        padding-right: 30px; 
        padding-bottom: 30px; 
        padding-top: 30px; 
}
.event-calendar{
    /* background: url(../images/arkana.jpeg) no-repeat; */
    /* background-image: url(../images/arkana.jpeg); */
    background-size: 100%;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px; 
    padding-top: 50px;
}