main>div{
    margin-left: 250px; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-bottom: 30px; 
    padding-top: 30px; 
}
main>div>h1{
    margin-bottom: 0px;
    font-size: 50px;
}
main>div>h3{
    margin-bottom: 0px;
    font-size: 15px;
}
.hidden{
    display: none!important;
}
.main-header-div{
        margin-left: 250px; 
        padding-left: 30px; 
        padding-right: 30px; 
        padding-bottom: 30px; 
        padding-top: 30px; 
}
.event-calendar{
    background: burlywood;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px; 
    padding-top: 30px;
}