.inline{
    display: inline!important;
}
.inline-list{
    display: inline-flex!important;
}

.margin-top{
	margin-top: 50px;
}

.hidden{
	display:none!important;
}

.font-bold{
	font-weight: 700;
}

.underline{
	color: #000!important;
	text-decoration: underline;
}

.target-pager{
	padding-left: 25%;
	width: 400px;
	height: 50px;
	
}

.target-pager li{
	width: 15px;
    height: 15px;
	list-style:none;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
}
.target-pager li a{
	color: #747474;
}

.target-pager li:hover{
	cursor: pointer;
}

.target-pager .inline-list{
	padding: 0px;
}